{% extends 'main.html' %}

{% block content %}
     <!-- Main Section -->
  <main class="home">
    <section class="hero-section text-center">
      <div class="container container--narrow">
        <div class="hero-section__box">
          <h2>CONNECT WITH <span>Engineers</span></h2>
          <h2>AROUND CAMPUS</h2>
        </div>

        <div class="hero-section__search">
          <form class="form" action="#" method="get">
            <div class="form__field">
              <label for="formInput#search">Search Engineers</label>
              <input class="input input--text" id="formInput#search" type="text" name="text"
                placeholder="Search by engineer name" />
            </div>

            <input class="btn btn--sub btn--lg" type="submit" value="Search" />
          </form>
        </div>
      </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="devlist">
      <div class="container">
        <div class="grid grid--three">
          <div class="column card">
            <div class="dev">
              <a href="/profile.html" class="card__body">
                <div class="dev__profile">
                  <img class="avatar avatar--md" src="https://avatars.githubusercontent.com/u/22437186" alt="image" />
                  <div class="dev__meta">
                    <h3>Shahriar P. Shuvo</h3>
                    <h5>FullStack Web Designer & Developer</h5>
                  </div>
                </div>
                <p class="dev__info">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, ducimus inventore! Sunt,
                  veniam veritatis? Veritatis placeat, deleniti iure tempore veniam perspiciatis, soluta cupiditate
                  animi, exercitationem molestias nam doloremque architecto odit.
                </p>
                <div class="dev__skills">
                  <span class="tag tag--pill tag--main">
                    <small>JavaScript</small>
                  </span>
                  <span class="tag tag--pill tag--main">
                    <small>React</small>
                  </span>
                  <span class="tag tag--pill tag--main">
                    <small>SCSS</small>
                  </span>
                  <span class="tag tag--pill tag--main">
                    <small>Nodejs</small>
                  </span>
                  <span class="tag tag--pill tag--main">
                    <small>Express</small>
                  </span>
                  <span class="tag tag--pill tag--main">
                    <small>GraphQL</small>
                  </span>
                </div>
              </a>
            </div>
          </div>
          <div class="column card">
            <div class="dev">
              <a href="/profile.html" class="card__body">
                <div class="dev__profile">
                  <img class="avatar avatar--md" src="https://avatars.githubusercontent.com/u/1868782" alt="image" />
                  <div class="dev__meta">
                    <h3>Cody Seibert</h3>
                    <h5>React Developer, Coding Youtuber</h5>
                  </div>
                </div>
                <p class="dev__info">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, ducimus inventore! Sunt,
                  veniam veritatis? Veritatis placeat, deleniti iure tempore veniam perspiciatis, soluta cupiditate
                  animi, exercitationem molestias nam doloremque architecto odit.
                </p>
                <div class="dev__skills">
                  <span class="tag tag--pill tag--main">
                    <small>Elixir</small>
                  </span>
                  <span class="tag tag--pill tag--main">
                    <small>F#</small>
                  </span>
                  <span class="tag tag--pill tag--main">
                    <small>.NET</small>
                  </span>
                </div>
              </a>
            </div>
          </div>
          <div class="column card">
            <div class="dev">
              <a href="/profile.html" class="card__body">
                <div class="dev__profile">
                  <img class="avatar avatar--md" src="https://avatars.githubusercontent.com/u/33843378" alt="image" />
                  <div class="dev__meta">
                    <h3>Dennis Ivy</h3>
                    <h5>Python & Django Developer</h5>
                  </div>
                </div>
                <p class="dev__info">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, ducimus inventore! Sunt,
                  veniam veritatis? Veritatis placeat, deleniti iure tempore veniam perspiciatis, soluta cupiditate
                  animi, exercitationem molestias nam doloremque architecto odit.
                </p>
                <div class="dev__skills">
                  <span class="tag tag--pill tag--main">
                    <small>Python</small>
                  </span>
                  <span class="tag tag--pill tag--main">
                    <small>Django</small>
                  </span>
                  <span class="tag tag--pill tag--main">
                    <small>Rest API</small>
                  </span>
                </div>
              </a>
            </div>
          </div>
          <div class="column card">
            <div class="dev">
              <a href="/profile.html" class="card__body">
                <div class="dev__profile">
                  <img class="avatar avatar--md" src="https://avatars.githubusercontent.com/u/22437186" alt="image" />
                  <div class="dev__meta">
                    <h3>Shahriar P. Shuvo</h3>
                    <h5>FullStack Web Designer & Developer</h5>
                  </div>
                </div>
                <p class="dev__info">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, ducimus inventore! Sunt,
                  veniam veritatis? Veritatis placeat, deleniti iure tempore veniam perspiciatis, soluta cupiditate
                  animi, exercitationem molestias nam doloremque architecto odit.
                </p>
                <div class="dev__skills">
                  <span class="tag tag--pill tag--main">
                    <small>JavaScript</small>
                  </span>
                  <span class="tag tag--pill tag--main">
                    <small>React</small>
                  </span>
                  <span class="tag tag--pill tag--main">
                    <small>SCSS</small>
                  </span>
                </div>
              </a>
            </div>
          </div>
          <div class="column card">
            <div class="dev">
              <a href="/profile.html" class="card__body">
                <div class="dev__profile">
                  <img class="avatar avatar--md" src="https://avatars.githubusercontent.com/u/22437186" alt="image" />
                  <div class="dev__meta">
                    <h3>Shahriar P. Shuvo</h3>
                    <h5>FullStack Web Designer & Developer</h5>
                  </div>
                </div>
                <p class="dev__info">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, ducimus inventore! Sunt,
                  veniam veritatis? Veritatis placeat, deleniti iure tempore veniam perspiciatis, soluta cupiditate
                  animi, exercitationem molestias nam doloremque architecto odit.
                </p>
                <div class="dev__skills">
                  <span class="tag tag--pill tag--main">
                    <small>JavaScript</small>
                  </span>
                  <span class="tag tag--pill tag--main">
                    <small>React</small>
                  </span>
                  <span class="tag tag--pill tag--main">
                    <small>SCSS</small>
                  </span>
                </div>
              </a>
            </div>
          </div>
          <div class="column card">
            <div class="dev">
              <a href="/profile.html" class="card__body">
                <div class="dev__profile">
                  <img class="avatar avatar--md" src="https://avatars.githubusercontent.com/u/22437186" alt="image" />
                  <div class="dev__meta">
                    <h3>Shahriar P. Shuvo</h3>
                    <h5>FullStack Web Designer & Developer</h5>
                  </div>
                </div>
                <p class="dev__info">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, ducimus inventore! Sunt,
                  veniam veritatis? Veritatis placeat, deleniti iure tempore veniam perspiciatis, soluta cupiditate
                  animi, exercitationem molestias nam doloremque architecto odit.
                </p>
                <div class="dev__skills">
                  <span class="tag tag--pill tag--main">
                    <small>JavaScript</small>
                  </span>
                  <span class="tag tag--pill tag--main">
                    <small>React</small>
                  </span>
                  <span class="tag tag--pill tag--main">
                    <small>SCSS</small>
                  </span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="pagination">
      <ul class="container">
        <li><a href="#" class="btn btn--disabled">&#10094; Prev</a></li>
        <li><a href="#" class="btn btn--sub">01</a></li>
        <li><a href="#" class="btn">02</a></li>
        <li><a href="#" class="btn">03</a></li>
        <li><a href="#" class="btn">04</a></li>
        <li><a href="#" class="btn">05</a></li>
        <li><a href="#" class="btn">06</a></li>
        <li><a href="#" class="btn">07</a></li>
        <li><a href="#" class="btn">08</a></li>
        <li><a href="#" class="btn">09</a></li>
        <li><a href="#" class="btn">10</a></li>
        <li><a href="#" class="btn">Next &#10095;</a></li>
      </ul>
    </div>
  </main>
{% endblock content %}